<ion-header>
  <ion-toolbar>
    <ion-title>
      Informazioni
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-text color="secondary">
  <ion-list>
   
    <ion-radio-group value="biff">
      <ion-list-header>
        <ion-label> Quale Linea della Vesuviana usi?</ion-label>
      </ion-list-header>
      
      <ion-item>
          <ion-label>Sorrento</ion-label>
          <ion-radio slot="start" value="sorrento"></ion-radio>
        </ion-item>

      <ion-item>
        <ion-label>Sarno</ion-label>
        <ion-radio slot="start" value="sarno"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Baiano</ion-label>
        <ion-radio slot="start" value="baiano"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Poggiomarino</ion-label>
        <ion-radio slot="start" value="poggiomarino"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-text>
<ion-card>
  <ion-grid>
 
    </ion-grid>
</ion-card>
